.header {
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

@media (max-width: 500px) {
  .header {
    display: none;
  }
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

.nav__item {
  color: inherit;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
}

.nav__item:hover {
  color: var(--color-primary);
}
