.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

@media (max-width: 500px) {
  .header {
    display: none;
  }
}

.header__nav {
  align-items: center;
  background: var(--color-muted);
  border-radius: 1rem;
  box-shadow: 0 3px 5px var(--color-muted);
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

.header__nav--item {
  color: inherit;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
}

.header__nav--item:hover {
  color: var(--color-primary);
}
